<h1>Editing admin</h1>

<% form_for(@admin) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :tournament_id %><br />
    <%= f.text_field :tournament_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>
