<h1>Listing admins</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Token</th>
    <th>Password</th>
    <th>Tournament</th>
  </tr>

<% for admin in @admins %>
  <tr>
    <td><%=h admin.name %></td>
    <td><%=h admin.token %></td>
    <td><%=h admin.password %></td>
    <td><%=h admin.tournament_id %></td>
    <td><%= link_to 'Show', admin %></td>
    <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
    <td><%= link_to 'Destroy', admin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New admin', new_admin_path %>
